@font-face {
    font-family: open;
    src: url(../assets/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: allura;
    src: url(../assets/Allura-Regular.ttf);
}

.topo {
    background-image: url(../assets/topo\ \(cópia\).png);
    padding: 1rem;
    text-align: center;
}

.topodown {
    padding: 1rem;
    background-color: #d1a790;
    text-align: center;
}

.oslinks {
    text-decoration: none;
    color: #67403c;
    font-family: open;
    margin: 0 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens quebrem para a próxima linha */
    justify-content: center; /* Centraliza o conteúdo */
    background-color: #67403c;
}

.image {
    flex: 1 1 100%; /* Imagens ocupam 100% em telas pequenas */
    max-width: 200px; /* Limita o tamanho máximo da imagem */
    padding: 0.5rem; /* Espaçamento */
}

.image img {
    max-width: 100%; /* Mantém a imagem responsiva */
    height: auto;
}

.bemvindo {
    background-color: #fcd5be;
    padding: 1rem;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Permite que o conteúdo se reorganize */
}

.circular {
    width: 30%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 1rem;
}

.otitulodomenu {
    text-align: center;
    font-size: 2rem; /* Fonte maior para dispositivos móveis */
}

.omenu {
    padding: 2rem;
    background-image: url(../assets/topo\ \(cópia\).png);
}

.boloPOTE {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    background-color: #d1a790;
    border-radius: 10px;
    padding: 1rem;
}

.imgboloPOTE {
    border-radius: 10px;
    margin-right: 1rem;
}

.direitos {
    padding: 1rem;
    background-color: #d1a790;
    text-align: center;
}

.textdireitos {
    color: #67403c;
    font-family: open;
}
