/* Add this to the top of your CSS file */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Add this to make the website responsive */
  @media only screen and (max-width: 768px) {
    /* Topo section */
    .topo {
      margin-top: -8.5px;
      margin-left: 0;
      margin-right: 0;
      padding-top: 13px;
      padding-bottom: 6px;
      padding-left: 20px;
    }
  
    /* Topodown section */
    .topodown {
      margin-left: 0;
      margin-right: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  
    /* Container section */
    .container {
      flex-wrap: wrap;
    }
  
    .image {
      flex: 0 0 50%; /* Make images take 50% of the width */
      padding: 3px;
    }
  
    /* Bemvindo section */
    .bemvindo {
      margin-left: 0;
      margin-right: 0;
    }
  
    .container2 {
      flex-direction: column; /* Make the container a column */
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .circular {
      margin-top: 0;
      width: 100px;
      height: 100px;
      margin: 20px;
    }
  
    /* Menu section */
    .omenu {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .boloPOTE {
      flex-direction: column; /* Make the container a column */
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .imgboloPOTE {
      border-radius: 20px;
      margin-right: 0; /* Remove margin right */
    }
  
    .boloM1 {
      margin-top: 20px;
      flex-direction: column; /* Make the container a column */
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .imgboloM1 {
      border-radius: 20px;
      margin-right: 0; /* Remove margin right */
    }
  }