@font-face {
    font-family: open;
    src: url(../assets/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: allura;
    src: url(../assets/Allura-Regular.ttf);
}


.topo{
    margin-top: -8.5px;
    margin-left: -8.5px;
    margin-right: -8.5px;
    background-image: url(../assets/topo\ \(cópia\).png);
    padding-top: 13px;
    padding-bottom: 6px;
}


.topodown{
    margin-left: -8.5px;
    margin-right: -8.5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #d1a790;
}

.oslinks{
    margin-left: 9px;
    text-decoration: none;
    color: #67403c;
    font-family: open;
    font-size: 15px;
}

.oslinksctt{
    text-decoration: none;
    color: #67403c;
    font-family: open;
    font-size: 15px;
}


.imagenstopo{
    background-color: blue;
    margin-left: -8.5px;
}


.container {
    display: flex;
    width: calc(100% + 17px); 
    margin-left: -8.5px;
    margin-right: -8.5px;
    margin-top: -3px;
    background-color: #67403c;
    position: relative; 
}   
.image {
    flex: 1;
    padding: 3px; 
}
.image img {
    width: 100%;
    height: auto;
    display: block; 
}




.bemvindo{
    margin-left: -8.5px;
    margin-right: -8.5px;
    background-color: #fcd5be;
    margin-top: -29px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.circular { 
    width: 130px; 
    height: 130px; 
    border-radius: 50%;
    margin-top: 20px;
    border: solid;
    border-color: #67403c;
}

.texto-container {
    text-align: center; 
    flex: 1; 
    margin-bottom: 20px; 

}

.titulobemvindo {
    font-size: 40px;
    color: #67403c;
    font-family: allura;
    text-align: center;
}

.textobemvindo {
    color: #67403c;
    font-family: open;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 15px;
}



.menutitulo{
    margin-left: -8.5px;
    margin-right: -8.5px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    background-color: #d1a790;
}

.otitulodomenu{
    text-align: center;
    font-size: 40px;
    color: #67403c;
    font-family: allura;
}



.omenu{
    margin-left: -8.5px;
    margin-right: -8.5px;
    padding-top: 50px;
    background-image: url(../assets/topo\ \(cópia\).png);
    padding-bottom: 50px;
}



.outrosbolos{
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 27px;
    margin-left: 9px;
    margin-right: 9px;
    background-color: #d1a790;
    border-radius: 50px;
    margin-top: 30px;
}

.boloPOTE {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 27px;
    margin-left: 9px;
    margin-right: 9px;
    background-color: #d1a790;
    border-radius: 50px;
}

.imgboloPOTE {
    border: solid;
    border-color: #67403c;
    display: block;
    border-radius: 20px;
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.tituloboloPOTE {
    display: block;
    font-size: 40px;
    color: #67403c;
    font-family: allura;
    margin: 0; /* Remove margens padrão */
    margin-top: 10px;
}

.textoboloPOTE {
    color: #67403c;
    font-family: open;
    margin: 0; /* Remove margens padrão */
    font-size: 15px;
}


.direitos{
    margin-left: -8.5px;
    margin-right: -8.5px;
    margin-bottom: -8.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d1a790;
}

.textdireitos{
    text-align: center;
    color: #67403c;
    font-family: open;
    font-size: 13px;
}